
$navbar-dark-toggler-border-color: rgba($white,0);
$navbar-light-color: rgba($white, 1);
$red: rgb(216, 42, 59);
$primary: $red;
$body-bg: $gray-900;
$body-color: $white;
$navbar-dark-color: rgba($white, 1);
$dark: $black;